div.background-index{
    background-image: url("../public/background_index.png");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 92vh;
    background-size: cover;
}

div.card:hover {
    border: 2px solid rgb(6, 6, 22) !important;
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.2);
    transition: all 0.2s linear;
    background-size: cover;
    background-color: rgb(241, 234, 227);
}

