div.background-index{
    background-image: url("../public/background_index.png");
    margin: 0;
    padding: 0;
}

div.card_hover:hover {
    border: 2px solid rgb(6, 6, 22) !important;
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.2);
    transition: all 0.2s linear;
    background-size: cover;
    background-color: rgb(241, 234, 227);
}


html, body {
    height: 43.5rem;
    width: 96rem;
    min-height: 43.5rem;
}
#container {
    height: 43.5rem;
    width: 96rem;
    min-height: 43.5rem;
}
#background-image {
    height: 43.5rem;
    width: 96rem;
    min-height: 43.5rem;
    display: block;
    position: sticky;
    background-size: cover;
    background-repeat: no-repeat;
}