div.tam-row-login{
    height: 100vh;
    width: 180vh;
    padding: 0%;
    border: 0%;
    margin: 0%;
}

div.left-blue-design{
    height: 50vh;
    border-Top-Left-Radius: 2vh;
    border-Bottom-Left-Radius: 2vh;
}

div.blue-login-block{
    width:75vh;
    margin-Left: auto;
}

div.white-login-block{
    width:25vh;
    margin-Right: auto;
}

div.right-white-design{
    height: 50vh;
    border-Top-Right-Radius: 2vh;
    border-Bottom-Right-Radius: 2vh;
}

div.login-form-auto{
    margin-Right:auto; 
    width: 65vh;
}

form.tam-col-login{
    padding: 5vh; 
    width: 40vh;
    height: 20vh;
    
}

button.responsive-size-login{
    width: 30vh; 
    height: 5vh;
    padding: 0px;
    font-Size: 2.2vh;
}

input.responsive-font{
    font-Size: 2.2vh;
}

div.background-login{
    background-image: url("../public/background_login.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}

div.height-card{
    min-height: 100vh;
}

div.height-card-left{
    height: 20vh;
    min-height: 100vh;
}



.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}


.padding-selection {
  padding: 1rem;
}

.centrar-h2 {
  text-align: center;
  color: rgb(80, 183, 201);
}
div.center {
  padding: 1rem;
  text-align: center;
}

.textarea {
  padding: 1rem;

  background: transparent;
  border: 2px solid #0099cc;
  border-radius: 6px;
  text-align: justify;
  width: 100%;

  color: #0099cc;
}

.textarea:hover {
  padding: 1rem;
  background-color: rgb(214, 231, 238);
  color: black;
}
.boton {
  background: transparent;
  border: 2px solid #0099cc;
  color: #0099cc;
  border-radius: 6px;
  text-align: center;
  width: 10%;
}

.boton:hover {
  background-color: #008cba;
  color: white;
}

.vistas {
  padding: 1rem;
  background: transparent;
  border: 2px solid #0099cc;
  color: #0099cc;
  border-radius: 6px;
  text-align: center;
  width: 10%;
}

.padding-selection {
    padding: 1rem;
  }
  
  .centrar-h2 {
    text-align: center;
    color: rgb(80, 183, 201);
  }
  div.center {
    padding: 1rem;
    text-align: center;
  }
  
  .textarea {
    padding: 1rem;
  
    background: transparent;
    border: 2px solid #0099cc;
    border-radius: 6px;
    text-align: justify;
    width: 100%;
  
    color: #0099cc;
  }
  
  .textarea:hover {
    padding: 1rem;
    background-color: rgb(214, 231, 238);
    color: black;
  }
  .boton {
    background: transparent;
    border: 2px solid #0099cc;
    color: #0099cc;
    border-radius: 6px;
    text-align: center;
    width: 10%;
  }
  
  .boton:hover {
    background-color: #008cba;
    color: white;
  }
  
  .vistas {
    padding: 1rem;
    background: transparent;
    border: 2px solid #0099cc;
    color: #0099cc;
    border-radius: 6px;
    text-align: center;
    width: 10%;
  }


.tableFixHead          { overflow: auto; height: 60vh; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 0; }
  
  /* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }